<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <!-- <a class="navbar-brand" href="#">{{ profile.name }}</a> -->
  <div class="container-fluid ">
    <div class="navbar-header " >
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        *ngIf="!this.auth.isAuthenticated()"
        class="btn btn-primary btn-margin"
        routerLink="/" routerLinkActive="active">
          Home
      </button>

      <button
        *ngIf="this.auth.isAuthenticated()"
        class="btn btn-primary btn-margin"
        routerLink="/contacts" routerLinkActive="active">
          Contacts
      </button>

      <button
        *ngIf="!auth.isAuthenticated()"
        class="btn btn-primary btn-margin"
        (click)="login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<div class="container" style="background-color: #e4f5fd;">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<hr>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer></footer>
