ul{
  margin: 2em;
  padding: 2em;
}

li{
    display: inline-block;
    margin: 1em;

  }
li:hover{
  color: #607D8B;
    background-color: #D7D8C5;
}
.input-group{
  width: auto;
}

.text-muted{
  margin-left: 10em;
}
