<ul class="contacts-list list-unstyled">
  <li class="media" routerLink="/chat" routerLinkActive="active">
    <!-- <small class="text-muted" >3</small> -->
    <img src="https://unsplash.it/165/165?image=1005" alt="Generic placeholder image" class="images">
    <div class="media-body">
      <h5>contact 1</h5> This text shows the conversation between user & contact?
    </div>
  </li>
  <hr>

  <li class="media my-4" routerLink="/chat" routerLinkActive="active">
      <img src="https://unsplash.it/165/165?image=259" alt="Generic placeholder image" class="images">
    <div class="media-body">
      <h5>contact 2</h5> Yeah I'm not bad, how are you? been on holiday anywhere?
    </div>
  </li>
  <hr>

  <li class="media" routerLink="/chat" routerLinkActive="active">
    <img src="https://unsplash.it/165/165?image=447" alt="Generic placeholder image" class="images">
    <div class="media-body">
      <h5>contact 3</h5> What you doing friday?
    </div>
  </li>
</ul>

<div>
  Each Contact has link to Chat page  - should be dynamic to load and connect to specific db
</div>

<button
class="btn btn-primary btn-margin"
routerLink="/chat" routerLinkActive="active">
  To Chat
</button>
