<div class="jumbotron">
  contacts list shown below!
</div>
<!--this will list user contacts -->
<div class="container-fluid">
<ul class="list-unstyled">
  <li class="media">
    <img class="d-flex mr-3" src="assets/daniel-h-tong-202091.jpg" alt="Generic placeholder image" width="50" height="50" class="rounded-circle">
    <div class="media-body" >
      <h5 class="mt-0 mb-1">contact 1</h5>
      This text will show the user the last conversation had with the contact?
    </div>
  </li>
  <li class="media my-4">
<img class="d-flex mr-3" src="assets/daniel-h-tong-202091.jpg" alt="Generic placeholder image" width="50" height="50" class="rounded-circle" >
    <div class="media-body">
      <h5 class="mt-0 mb-1">contact 2</h5>
      Yeah I'm not bad, how are you? been on holiday anywhere?
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </div>

  </li>
  <li class="media">
    <img class="d-flex mr-3" src="assets/daniel-h-tong-202091.jpg" alt="Generic placeholder image"class="rounded-circle" width="50" height="50">
    <div class="media-body">
      <h5 class="mt-0 mb-1">contact 3</h5>
      What you doing friday? Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
    </div>
  </li>
</ul>
</div>
