<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

<ul class="chat-messages list-unstyled">
  <li class="media">
    <img class="d-flex mr-3 img-thumbnail" src="https://unsplash.it/165/165?image=1005" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">contact 1</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <hr>
  <li class="media my-4">
    <div class="media-body">
      <h5 class="mt-0 mb-1">johnny b</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img class="d-flex mr-3 img-thumbnail" src="https://unsplash.it/165/165?image=501" alt="Generic placeholder image">
  </li>
</ul>

<div class="form-group">
  <nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Fixed bottom nav</a>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="enter message" aria-label="enter message" aria-describedby="input-group-btn">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Send</button>
      </span>
    </div>
  </nav>
</div>
