<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div *ngFor="let message of messages" class="card bg-success text-white">
    {{message.text}}
  </div>
  <hr>
  <input [(ngModel)]="message" (keyup.enter)="sendMessage()"/><button (click)="sendMessage()">Press Enter to Send</button>
</div>

<hr>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/" routerLinkActive="active">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/contacts" routerLinkActive="active">
          Contacts
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<hr>

<main class="container">
  <router-outlet></router-outlet>
</main>
