.sign-up-component {
  // background-color: $accent-color;
  text-align: center;
}

.card-content__error {
  margin: 0px;
  padding: 0px;
  color: red;
}

.login-component {
  // background-color: $accent-color;
  text-align: center;
}

