<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="assets/daniel-h-tong-202091.jpg" class="img-thumbnail" alt="man from behind" width="150" height="150">
        <p>{{ profile?.name }}</p>
        <p>
          About me. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
          faucibus.
        </p>
      </div>
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
