<div class="header-title">
  <h1>Welcome to {{ title }}!</h1>
</div>
<nav class="navbar">
  <!-- <a class="navbar-brand" href="#">{{ profile.name }}</a> -->
  <div class="navbar-header">
    <!-- <a class="navbar-brand" href="#">Nice Logo :D</a> -->
    <ul class="nav-container">
      <li class="nav-menu" *ngIf="!this.auth.isAuthenticated()" routerLink="/" routerLinkActive="active">HOME</li>
      <li class="nav-menu" *ngIf="this.auth.isAuthenticated()" routerLink="/profile" routerLinkActive="active">PROFILE</li>
      <li class="nav-menu" *ngIf="this.auth.isAuthenticated()" routerLink="/contacts" routerLinkActive="active">CONTACTS</li>
    </ul>

    <div class="buttons nav-menu">
      <button *ngIf="!auth.isAuthenticated()" class="btn btn-primary btn-margin" (click)="login()">
          Log In
      </button>
      <button *ngIf="auth.isAuthenticated()" class="btn btn-primary btn-margin" (click)="auth.logout()">
          Log Out
      </button>
    </div>
  </div>
</nav>
