@import "./vendor.scss";

header {
  margin-bottom: 5em;
}

h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #FF5C5C;
}

@font-face {
  font-family: 'Raleway', sans-serif;
}

.images{
  border-radius: 60%;
  border: 1px solid #ddd;
  padding: 0.2em;
  max-width: 100%;
  height: auto;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
// Note: currently the media queries won't affect the placeholder images as width & height is pre determined in html
@media (min-width: 576px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.3em;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.4em;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.5em;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.6em;
  }
}
