@import "./vendor.scss";

header {
  margin-bottom: 5em;
}

h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #FF5C5C;
}

@font-face {
  font-family: 'Raleway', sans-serif;
}
//.media makes contacts responsive

.container,
.media {
  max-width: 100%;
  height: auto;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
// Note: currently the media queries won't affect the placeholder images as width & height is pre determined in html
@media (min-width: 576px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.3em;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.4em;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.5em;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .chat-messages,
  .contacts-list,
  .profile-text {
    font-size: 1.6em;
  }

  .img-fluid {
    // max-width: 100%;
    width: 100% \9;
    height: auto;
  }
}
